# Database Configuration
# For local SQLite use: sqlite:///./prices.db
# For Docker Postgres use: postgresql://admin:password123@localhost:5432/pricedb
DATABASE_URL=sqlite:///./prices.db

# JWT Configuration
SECRET_KEY=yoursecretkey_changethisinproduction
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=1440 # 24 hours for dev convenience
