fastapi
uvicorn
python-multipart
pillow
sqlalchemy
requests
beautifulsoup4
pytest
httpx
python-dotenv
passlib[bcrypt]
python-jose[cryptography]
pydantic[email]
redis
psycopg2-binary
bcrypt==4.0.1
opencv-python
alembic
